<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Home</title>
</head>
<body>
    <header class="main-header">
        <img src="/imgs/logo.png" alt="usbtoc" class="logo">
        <h1>USBtoC</h1>
        <nav>
            <ul class="center-nav-var">
                <li><a href="">Productos</a></li>
                <li><a href="">Marcas</a></li>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="rigth-navbar">
                <li class="logo-searchbar"><a href=""><i class="fa-regular fa-address-card"></i></a></li>
                <li><a class="logo-account" href=""><i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a class="logo-carrito" href=""><i class="fa-solid fa-basket-shopping"></i></a></li>
                <li><a class="logo-favoritos" href=""><i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
        <p></p>
    </header>
    <main>

    </main>
</body>
<footer>

</footer>
</html>